<head>
    <script src="js/amcharts/amcharts.js"></script>
    <script src="js/amcharts/gauge.js"></script>
    <script src="js/amcharts/themes/dark.js"></script>
    <link rel="stylesheet" href="styles/gauge.css" />
    <script src='js/graph/gaugeTempHum.js'></script>
    <script>
    var lastData = {{{result}}};
    </script>
</head>

<h2>Dashboard</h2>

<div id="chartcontainer">
    <div id="chartdiv"></div>
    <div id="curtain">
        <span>Chargement...</span>
    </div>
</div>